<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
		mustMatch: true to only proxy to sites listed, false to proxy to any site -->
<ProxyConfig mustMatch="true">
	<serverUrls>
		<!-- serverUrl options:
			url = location of the ArcGIS Server, either specific URL or stem
			matchAll = true to forward any request beginning with the url
			token = (optional) token to include for secured service
			dynamicToken = if true, gets token dynamically with username and
			  password stored in web.config file's appSettings section.
		-->
		<!--
		<serverUrl url="http://sampleserver1.arcgisonline.com/arcgis/rest/services/" 
				   matchAll="true"></serverUrl>
		<serverUrl url="http://sampleserver2.arcgisonline.com/arcgis/rest/services/" 
				   matchAll="true" 
				   token=""></serverUrl>
		<serverUrl url="http://server.arcgisonline.com/arcgis/rest/services/"
				   matchAll="true"></serverUrl>
		<serverUrl url="http://orthogonal.esri.com/arcgis/rest/services/"
				   matchAll="true"></serverUrl>
		<serverUrl url="http://hummer/ArcGIS/rest/services"
				   matchAll="true"
				   dynamicToken="true" ></serverUrl>
		-->

		<serverUrl url="http://gis.ecan.govt.nz/arcgis/rest/services/" matchAll="true"></serverUrl>
		<serverUrl url="http://arcgis.ecan.govt.nz/arcgis/rest/services/" matchAll="true"></serverUrl>
		<serverUrl url="http://arcgisprod01/arcgis/rest/services/" matchAll="true"></serverUrl>
		<serverUrl url="http://arcgisprod02/arcgis/rest/services/" matchAll="true"></serverUrl>
		<serverUrl url="http://arcgisprod03/arcgis/rest/services/" matchAll="true"></serverUrl>
		<serverUrl url="http://arcgisdev01/arcgis/rest/services/" matchAll="true"></serverUrl>

	</serverUrls>

	<substituteUrls>
		<!-- serverUrl options:
			url = location of the ArcGIS Server map service that is to be substituted/swapped out.
			alternate = location of the ArcGIS Server map service that is to be used instead of the given url.
	    -->

		<!-- Landparcel Boundaries -->
		<substituteUrl url="http://arcgis.ecan.govt.nz/ArcGIS/rest/services/Public/Region_Base/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/ArcGIS/rest/services/Dynamic/Region_Base/MapServer"></substituteUrl>
		<substituteUrl url="http://gis.ecan.govt.nz/ArcGIS/rest/services/Public/Region_Base/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/ArcGIS/rest/services/Dynamic/Region_Base/MapServer"></substituteUrl>
    <substituteUrl url="http://gis1.ecan.govt.nz/ArcGIS/rest/services/Public/Region_Base/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/ArcGIS/rest/services/Dynamic/Region_Base/MapServer"></substituteUrl>
    <substituteUrl url="http://gis2.ecan.govt.nz/ArcGIS/rest/services/Public/Region_Base/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/ArcGIS/rest/services/Dynamic/Region_Base/MapServer"></substituteUrl>
    <substituteUrl url="http://gis3.ecan.govt.nz/ArcGIS/rest/services/Public/Region_Base/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/ArcGIS/rest/services/Dynamic/Region_Base/MapServer"></substituteUrl>

		<!-- Road names, address labels, etc -->
		<substituteUrl url="http://arcgis.ecan.govt.nz/ArcGIS/rest/services/Public/Region_Base_Labels/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Region_Base_Labels_Printing/MapServer"></substituteUrl>
		<substituteUrl url="http://gis.ecan.govt.nz/ArcGIS/rest/services/Public/Region_Base_Labels/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Region_Base_Labels_Printing/MapServer"></substituteUrl>
    <substituteUrl url="http://gis1.ecan.govt.nz/ArcGIS/rest/services/Public/Region_Base_Labels/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Region_Base_Labels_Printing/MapServer"></substituteUrl>
    <substituteUrl url="http://gis2.ecan.govt.nz/ArcGIS/rest/services/Public/Region_Base_Labels/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Region_Base_Labels_Printing/MapServer"></substituteUrl>
    <substituteUrl url="http://gis3.ecan.govt.nz/ArcGIS/rest/services/Public/Region_Base_Labels/MapServer"
             alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Region_Base_Labels_Printing/MapServer"></substituteUrl>
    
    <!-- Imagery Service-->
    <substituteUrl url="http://arcgis.ecan.govt.nz/ArcGIS/rest/services/Imagery/MapServer"
            alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Imagery_Latest/MapServer"></substituteUrl>
    <substituteUrl url="http://gis.ecan.govt.nz/ArcGIS/rest/services/Imagery/MapServer"
            alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Imagery_Latest/MapServer"></substituteUrl>
    <substituteUrl url="http://gis1.ecan.govt.nz/ArcGIS/rest/services/Imagery/MapServer"
            alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Imagery_Latest/MapServer"></substituteUrl>
    <substituteUrl url="http://gis2.ecan.govt.nz/ArcGIS/rest/services/Imagery/MapServer"
            alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Imagery_Latest/MapServer"></substituteUrl>
    <substituteUrl url="http://gis3.ecan.govt.nz/ArcGIS/rest/services/Imagery/MapServer"
            alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Imagery_Latest/MapServer"></substituteUrl>

    <!-- Topo Service -->
    <substituteUrl url="http://arcgis.ecan.govt.nz/arcgis/rest/services/Topoimagery/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Topo/MapServer"></substituteUrl>
    <substituteUrl url="http://gis.ecan.govt.nz/arcgis/rest/services/Dynamic/Topo/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Topo/MapServer"></substituteUrl>
    <substituteUrl url="http://gis1.ecan.govt.nz/arcgis/rest/services/Dynamic/Topo/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Topo/MapServer"></substituteUrl>
    <substituteUrl url="http://gis2.ecan.govt.nz/arcgis/rest/services/Dynamic/Topo/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Topo/MapServer"></substituteUrl>
    <substituteUrl url="http://gis3.ecan.govt.nz/arcgis/rest/services/Dynamic/Topo/MapServer"
					   alternate="http://arcgis.ecan.govt.nz/arcgis/rest/services/Dynamic/Topo/MapServer"></substituteUrl>
    
  </substituteUrls>


</ProxyConfig>
